
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 3rem  3rem;
    
  
}
.titre{
    font-size: 23px;
    font-weight: bold;
}
table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
   
}
table th {
    background-color: #f4f4f4;
}
form {
    display: inline;
}
select, input[type="text"], input[type="number"], input[type="date"], textarea, button {
    margin: 5px 0;
    padding: 8px;
    font-size: 14px;
}
button {
    background-color: #ff00b7;
    color: white;
    border: none;
    cursor: pointer;
}


/* ====== */
 body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2 {
    color: #5b1b4e;
  
}
.modifier{
    padding: 6px 0;
    background: linear-gradient(#c7b5b5, #7d81a5);
    text-align: center;
    padding-left: 18px;
    padding-right: 41px;
}
.modifier:hover{
    
    background: linear-gradient( #7d81a5 , #c7b5b5);
    transform: 1s;
}
.ajouter{

    color: #9198e5;
    padding: 21px;
    font-size: 24px;
}
.titreAjouter{
  width: 50%;
}
.bouttonAjouter{
    width: 30%;
    background-color: #9198e5;
    margin-left: 14rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px;
}

.formOne {
    /* background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    max-width: 500px; */
    display: flex;
    justify-content: space-around;
}

input, textarea, button {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

thead tr th{
    background: linear-gradient(#e66465, #9198e5);
}
button {
    /* background-color: #4CAF50; */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3b39a5;
}

textarea {
    resize: none;
    height: 80px;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
}
